<%layout('/layout/page');%>
<%block('title', title);%>

<div class="col-lg-offset-2 col-lg-10">
    <div class="col-lg-offset-2 col-lg-10">
        <a href="/day/<%-back%>"></a>

    </div>
    <center>
        <h1><span class="label label-info"><%=event.title%></span></h1>
        <h2><span class="label label-default"><%=event.desc%></span></h2>
        <div class="col-lg-offset-2 col-lg-10">
            <button type="edit" class="btn btn-primary" onclick='editEvent(<%-JSON.stringify(event)%>)'>Edit</button>
            <button type="button" class="btn btn-primary" data-loading-text="Deleting..." onclick="">Delete Event</button>
            <span class="help-block error"></span>
        </div>


    </center>
</div>
<script type="text/javascript">

    function editEvent(event) {
        $.ajax({
            url: "/editevent",
            type: "POST",
            data: event,
            dataType: "html",
            success: function (result) {
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
            }
        });
    };
</script>
